body {
	padding-top: 70px;
}



@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

    }

    /* top-nav-collapse affects height of navigation bar */
    .top-nav-collapse {
        padding: 0;
    
    }
}

section {
	padding: 50px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #1F001F;
	color: #fff;
}

.navbar-brand {
	color: #fff;
}
/* modifying bootstrap carousel items */

.carousel .item {
  height: 500px;
}

.item img {
    min-height: 500px;
    width: 100%;
}


/* footer */
.footer {
	text-align: center;
  width: 100%;
}

.center {
	text-align: center;
	margin: auto auto;
	padding: 5px 5px;
}

/* quote main page */
.quotebutton {
	border-radius: 4px;
	border: 1px solid #000;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	padding: 6px 12px;
	color: #333;
	text-shadow: 0px 1px 0px #5b8a3c;
	background: linear-gradient(to bottom, #77b55a 5%, #7b352 100%);
	background-color: #fff;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorsstr='#77b55a', endColorstr='#72b352', GradientType=0);
	box-shadow: 0px 10px 14px -7px #3e7327;
}

.quotebutton:hover {
	background: linear-gradient(to bottom, #fff 5%, #e1e2ed 100%);
	text-decoration: none;
	;
}

.quotes {
	border: 3px solid black;
	padding: 20px 20px;
	text-align: center;
	margin-top: 10%;
	margin-right: 20%;
	margin-left: 20%;
}

/* About Section */
#about {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #009999;
    color: #fff;
}

#resume {
	padding-top: 100px;
  padding-bottom: 100px;
	background: #660066;
	color: #D1B2D1;
}

.footer {
	background: #853385;
	color: #fff;
	padding: 2px 0px;
}

/* Portfolio */
img.thumbs {
	height: 200px;
	width: 242px;
	background-size: cover;
}

.thumbnail {
	border: none;
}