* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Lato, sans-serif;
}

a {
	color: #2A002A;
}

a:hover {
	color: #B03B76;
}

/* ================================
			NAVBAR
=================================*/
@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

    }

    /* top-nav-collapse affects height of navigation bar */
    .top-nav-collapse {
        padding: 0;
    
    }
}

/* Navigation bar */
.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: #1F001F;
}

.navbar-inverse .navbar-brand {
	color: #1F001F;
}

/*.navbar-inverse .navbar-nav>li>a {
	color: #1F001F;
}*/

.navbar-inverse .navbar-nav>li>a:hover {
	text-decoration: underline;
	color: #1F001F;
}

/* ================================
 				Home Section Text
================================*/
h1.name {
	font-size: 8em;
	position: relative;
	top: -50px;
	color: #2A002A;
	margin: auto auto;
	width: 100%;
	letter-spacing: 5px;
}

p.title {
	font-size: 2em;
	position: relative;
	top: -50px;
	letter-spacing: 30px;
}

/* ================================
 				Full Screen Sections 
================================*/
section {
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
	height: 95vh;

	/*&:nth-of-type(2n) {
		background-color: #FE4B74;
	}*/
}

section#home img {
	width: 100%;
	position: absolute;
}

/* ===================================
        PARALLAX
====================================*/
section.module.parallax {
	height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url("../images/carousel-1.jpg");
}

section.module.parallax-2 {
  background-image: url("../images/carousel-1.jpg");
}

section.module:last-child {
  margin-bottom: 0;
}

.center {
	text-align: center;
	margin: auto auto;
	padding: 0px 5px;
}

/* social links over image */
div.social {
	padding: 20% 10%;
	color: #B03B76;
}

i {
	padding: 1% 3%;
	color: #2A002A;
}
i:hover {
	color: #B03B76;
}

/* =============================
          Section Styles
==============================*/
#about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #B03B76;
    color: #fff;
}

/* Resume Section */
#resume {
	padding-top: 100px;
  padding-bottom: 100px;
	background: #98A889;
	color: #fff;
}

/* Portfolio Section */
#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 5%;
	padding-right: 5%;
	/*background: #2A002A; */
	color: #FFFFFF;
}

.footer {
	background: #FFFFFF;
	color: #1F001F;
	padding: 1% 5%;
	text-align: center;
	clear: both;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* Portfolio */
img.thumbs {
	height: 200px;
	width: 242px;
	background-size: cover;
}

.thumbnail {
	border: none;
}

.padBottom {
	padding-bottom: 50px;
}

.connect {
	background: #330033;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
